.dateLivrareAfis {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.dateLivrareAfis td {
	padding: 3px;
	color: #7F2316;
}

.articoleAfis {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.articoleAfis td {
	padding: 3px;
	color: #16727F;
}